<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tripton</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  </head>
  <body>
<div class="jumbotron">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="">Main Page</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Why Tripton?<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">The Flow</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<p></p>
<p></p>
<div class="card mb-3">
    <img src="https://images.unsplash.com/photo-1553519641-295583fba651?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" alt="Corrupted Network" width="500" height="500" style="vertical-align:middle;margin:40px 400px">
    <div class="card-body">
    <h5 class="card-title">Lifes Awesome</h5>
    <p class="card-text">Posted by @Amisha Hegde</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    <form class="form-inline">
        <button class="btn btn-outline-success" name="another_button" type="button" style="vertical-align:middle;margin:0px 0px">LIKE button</button>
      </form>
      <div class="form-group">
      <input type="text" class="form-control" placeholder="comment" name="comment">
    </div>

    <div class="card mb-3">
        <img src="https://images.unsplash.com/photo-1560292290-ce6f2dac527e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=676&q=80" alt="Corrupted Network" width="500" height="600" style="vertical-align:middle;margin:40px 400px">
        <div class="card-body">
        <h5 class="card-title">Turns out to be awesome?</h5>
        <p class="card-text">Posted by @Namitha Palav</p>
        <p class="card-text"><small class="text-muted">Last updated 13 mins ago</small></p>
        <form class="form-inline">
            <button class="btn btn-outline-success" type="button" style="vertical-align:middle;margin:0px 0px">LIKE button</button>
          </form>
          <div class="form-group">
          <input type="text" class="form-control" placeholder="comment">
        </div>
  </div>
</div>

</div>
</body>
</html>
